/*---------------------- Base -------------------------*/
img, video {
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

::selection {
  background-color: transparent;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

a:not([href]) {
  cursor: not-allowed;
}

details > * {
  box-sizing: border-box;
}

.placeholder {
  fill: #787878;
  background: #e2e2e2;
}


/*---------------------- Container -------------------------*/
.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 5rem;
  }
}


/*---------------------- Headings -------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  line-height: 1.2;
  word-break: break-word;
  color: var(--color-heading-text);
  font-family: "Lato-BlackItalic";
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem); 
}

h1, 
.h1 {
  font-size: calc(var(--font-heading-scale) * 3.2rem);
}

h2, 
.h2 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
}

h3, 
.h3 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}

h4,
.h4 {
  font-size: calc(var(--font-heading-scale) * 2.2rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

h6,
.h6 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}


@media only screen and (min-width: 750px) {
  h1, 
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
  
  h2, 
  .h2 {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }
  
  h3, 
  .h3 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
  }
  
  h4,
  .h4 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
  
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
}


/*---------------------- Show or Hide -------------------------*/
@media screen and (max-width: 749px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}



/*---------------------- Button -------------------------*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  min-height: 4.8rem;
  min-width: 16rem;
  padding: 0 3rem;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  transition: all 150ms ease-in;
}

.button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.button--primary {
  color: var(--color-button-text);
  background: var(--color-button-background);
  border-color: var(--color-button-background);
}

.button--primary:not([disabled]):hover {
  background: var(--color-button-hover);
  border-color: var(--color-button-hover);
}

.button--secondary {
  color: var(--color-button-background);
  background: var(--color-button-text);
  border-color: var(--color-button-background);
}

.button--secondary:not([disabled]):hover {
  color: var(--color-button-text);
  background: var(--color-button-hover);
  border-color: var(--color-button-hover);
}

.button--tertiary {
  color: var(--color-button-background);
  background: var(--color-button-text);
  border-color: var(--color-border);
}


/*---------------------- Grid -------------------------*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .grid {
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}

.grid:last-child {
  margin-bottom: 0;
}

.grid__item {
  width: calc(25% - var(--grid-mobile-horizontal-spacing) * 3 / 4);
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (min-width: 750px) {
  .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

.grid--1-col .grid__item {
  max-width: 100%;
  width: 100%;
}

.grid--3-col .grid__item {
  width: calc(33.33% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
}

@media screen and (min-width: 750px) {
  .grid--3-col .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
}

.grid--2-col .grid__item {
  width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
}

@media screen and (min-width: 750px) {
  .grid--2-col .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .grid--4-col-tablet .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }

  .grid--3-col-tablet .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .grid--2-col-tablet .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

@media screen and (max-width: 989px) {
  .grid--1-col-tablet-down .grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .grid--6-col-desktop .grid__item {
    width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);
    max-width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);
  }

  .grid--5-col-desktop .grid__item {
    width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
    max-width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
  }

  .grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }

  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .grid--1-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
  }
}



/*---------------------- Media -------------------------*/
.media {
  display: block;
  position: relative;
  overflow: hidden;
}

.media > * {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.media > img {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.media--square {
  padding-bottom: 100%;
}

.media--portrait {
  padding-bottom: 125%;
}

.media--landscape {
  padding-bottom: 66.6%;
}

.media--cropped {
  padding-bottom: 56%;
}

.media--16-9 {
  padding-bottom: 56.25%;
}

.media--circle {
  padding-bottom: 100%;
  border-radius: 50%;
}



/*---------------------- Alignment -------------------------*/
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}



/*---------------------- Flex helper -------------------------*/
.flex {
  display: flex;
  height:100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}



/*---------------------- Margin -------------------------*/
.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

/*----------------------------------------BASE STYLES----------------------------------------------------*/
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}
@media only screen and (min-width: 990px) {
  .container {
    padding: 0 50px;
  }
}
.homepage-section + .homepage-section {
  margin-top: 50px;
}

@media only screen and (min-width: 990px) {
  .homepage-section + .homepage-section {
    margin-top: 80px;
  }
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.flexbox{
  display:flex;
  flex-wrap:wrap;
  margin:0 -10px;
  align-items:center;
}
.flexbox__item{
  width:100%;
  padding:0 10px;
}
@media only screen and (min-width: 990px){
  .flexbox__item{
    width:50%;
  }
}
/*-----------------------------------------RICHTEXT SECTION ONE------------------------------------------ */
.richtext__wrapper {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 600px;
}
/*-------------------------------IMAGE WITH TEXT TWO ---------------------*/
.image-text__content{
  padding:30px 0 0;
}
@media only screen and (min-width: 990px) {
  .image-text__content{
    padding:30px;
  }
}
.direction-row{
  flex-direction:row;
}
.direction-row-reverse{
  flex-direction:row-reverse;
}
.caption-text{
  line-height:1.5;
}

/* ---------------------------------------------IMAGE GALLERY THREE ---------------------------------------- */
.image-gallery .flexbox__item {
  width: 100%;
}

.image-item {
  position: relative;
}

.image-item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

@media only screen and (min-width: 990px) {
  .image-gallery .flexbox__item {
    width: 33.33%;
  }
}
.image-items{
    height:100%;
}
.image-items_text{
    max-width:300px;
}

/*-------------------------------------- Usp section ----------------------------------------- */
.usp-section .flexbox-item {
  width: 50%;
}

.usp-item {
  text-align: center;
  margin-bottom: 25px;
}

.usp-item__logo {
  width: 40px;
  height: 30px;
  margin: 15px auto;
}

.usp-item__heading p,
.usp-item__sub-heading p {
  margin: 0 0 5px;
}

@media only screen and (min-width: 990px) {
  .usp-section .flexbox-item {
    width: 25%;
    padding: 20px;
  }
  .usp-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .usp-item__logo {
    margin: -5px 10px 0 0;
  }
}

/*---------------------------------------------TESTMONIALS SECTION --------------------------------------*/
.testimonials__heading {
  margin-bottom: 30px;
}

.testimonials__wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.testimonials-item__image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonials-item__reviews svg {
  width: 25px;
  fill: green;
  margin-top: 10px;
}
.testimonials-item__text{
  color:black;
}

/*--------------------------------------------- BLOG POST FORM ------------------------------------*/
@media only screen and (min-width: 990px) {
  .featured-blogs .flexbox-item {
    width: 33.33%;
  }
}
.article-card__link{
  position:relative;
}
.article-card__date{
  position:absolute;
  left:0;
  bottom:0;
  margin:10px;
}
.article-card__info,
.article-card__info--description{
  margin:13px 0;
}
.article-card__date{
  color:#000000;
  background-color:#ffffff;
  padding:5px 10px;
  border-radius:20px;
}
.article-card__readmore{
  border-radius:8px;
  color:#ffffff;
  background-color:#b79e8c;
}
.article-card__readmore:hover{
  background-color:#836957;
}
/* ---------------------------------------------Slide Show  ---------------------------------------- */
.image-gallery .flexbox__item {
  width: 100%;
}

.image-galley-item {
  position: relative;
}

.image-gallery-item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

@media only screen and (min-width: 990px) {
  .image-gallery .flexbox__item {
    width: 33.33%;
  }
}
.image-galley-items{
    height:100%;
}
.image-galley-item_text{
    max-width:300px;
}

/*-------------------------------------------- COLLECTION LIST------------------------------ */
.collection-list .flexbox {
  padding-bottom: 15px;
}

.collection-list .flexbox-item {
  width: 50%;
}

@media only screen and (min-width: 990px) {
  .collection-list .flexbox-item {
    width: 16.6%;
  }
}

.collection-list--header {
  margin: 0 0 30px;
}

.collection-list--header .link {
  margin: 0;    
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.collection-list--image{
  margin:10px;
}